.SingleColorPalette{
    
}

.SingleColorPalette{

    height: 100vh;
    width: 100vw;
    border-spacing: 0;
    display: flex;
    flex-flow: column nowrap;
}

.SingleColorPalette .ColorBox{
    height: 50%;
}

.SingleColorPalette-slider-container{
    width:340px;
    margin:0 10px;
    display: inline-block;
    height: 5vh;
}

.SingleColorPalette-colors{
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}

.SingleColorPaletteGoBack{
    background-color: #00000070;
}

.goBackBtnFrame{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: colum nowrap;
    justify-content: center;
    align-items: center;
}

.goBackBtn{
    text-decoration: none;
    width: 100px;
    height: 30px;
    display: inline-block;
    background: transparent;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    outline: none;
    border: 1px solid #ffffff;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -50px;
    opacity: .3;
}

.goBackBtn:visited{
    color: #ffffff;
}

.SingleColorPaletteGoBack:hover{
    box-shadow: 0px 0px 10px #ffffff;
    transition: .5s;
}

.SingleColorPaletteGoBack:hover .goBackBtn{
    opacity:1;
    box-shadow: 0px 0px 10px #ffffff;
    text-shadow: 0px 0px 10px #ffffff;
    transition: .5s;
}