.ColorBox{
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -3.5px;
}

.copy-element-container{}

.copy-element-btn{
    width: 100px;
    height: 30px;
    display: inline-block;
    background: #ffffff50;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    outline: none;
    border: none;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -50px;
    opacity: 0;
}

.ColorBox:hover .copy-element-btn{
    opacity:1;
    transition: .5s;
}

.box-content{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    font-size: 12px;
    color:#000000;
    letter-spacing: 1px;
    text-transform: uppercase;    
}

.see-more{
    width: 60px;
    height: 30px;
    background: #ffffff50;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: none;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}