.ColorBox{
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -3.5px;
}

.copy-element-container{}

.copy-element-btn{
    width: 100px;
    height: 30px;
    display: inline-block;
    background: #ffffff50;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    outline: none;
    border: none;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -50px;
    opacity: 0;
}

.ColorBox:hover .copy-element-btn{
    opacity:1;
    transition: .5s;
}

.box-content{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    font-size: 10spx;
    color:#000000;
    letter-spacing: 1px;
    text-transform: uppercase;    
}

.isDarkBG{
    color:#ffffff;
}

.see-more{
    width: 60px;
    height: 30px;
    background: #ffffff50;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: none;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}

.isLightBG{
    color:#00000080;
}

.copy-indicator-overlay{
    width: 100%;
    height: 100%;
    transform: scale(.1);
    opacity: 0;
    z-index: 0;
    transition: transform .6s ease-in-out;
}

.copy-indicator-overlay.show{
    position: absolute;
    transform: scale(50);
    opacity: 1;
    z-index: 100;
    transition: transform .6s ease-in-out;
}

.copy-indicator-msg{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    font-size: 4rem;
    transform: scale(.1);
    opacity: 0;
}

.copy-indicator-msg.show{
    transform: scale(1);
    opacity: 1;
    z-index: 100;
    transition: all .4s ease-in-out;
    transition-delay: .3s;
}

.copy-indicator-msg h1{
    width:100%;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 0px 5px #00000090;
    text-transform: uppercase;
    background-image: linear-gradient(to right,#ffffff00,#ffffff00,#ffffff30,#ffffff50,#ffffff30,#ffffff00,#ffffff00);
    padding: 1rem;
}

.copy-indicator-msg p{
    font-size: 2rem;
    font-weight: 100;
}