.page{
    width: 100%;
    /* height: 100vh; */
    /* position: fixed; */
    /* top: 0; */
    transition: opacity .5s ease-in-out;
  }

  .page-enter{
    opacity: 0;
    transform: translateX(100%);
  }

  .page-enter-active{
    opacity: 1;
    transform: translateX(0%);
  }

  .page-exit-active{
    opacity: 0;
    transform: translateX(-100%);
  }