.NavBar{
    height: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    color: #daa520;
    background-color: #1f1f1f;
}

.NavBar-branding-box{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 22px;
    font-family: Roboto;
    margin: 0 10px;
}

.NavBar-slider-console{
    display: inline-block;
}

.NavBar-slider-readout{
    display: inline-block;
}

.NavBar-slider-box{
    width:340px;
    margin:0 15px;
    display: inline-block;
}


.rc-slider-track{
    background-color: transparent;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover{
    background-color: #000000 !important;
    border: 2px solid #daa520 !important;
    outline: none !important;
    outline: none;
    width: 12px !important;
    height: 26px !important;
    border-radius: 0;
    box-shadow: none !important;
    position:relative;
    bottom: 4px;
}

.rc-slider-rail{
    background-color: transparent;
    border: 1px solid #daa520;
    height: 8px;
}