.Palette{
    height: 100vh;
}

.Palette-slider-container{
    width:340px;
    margin:0 10px;
    display: inline-block;
    height: 5vh;
}

.Palette-colors{
    height: 90vh;
}

.Palette-footer{
    height: 5vh;
}

