.Palette{

    height: 100vh;
    width: 100vw;
    border-spacing: 0;
    display: flex;
    flex-flow: column nowrap;
}

.Palette-slider-container{
    width:340px;
    margin:0 10px;
    display: inline-block;
    height: 5vh;
}

.Palette-colors{
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}


