/* .NavBar{
    height: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: #daa520;
    background-color: #1f1f1f;
} */

/* .NavBar-branding-box{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
    font-family: Roboto;
    margin: 0 10px;
} */

.NavBar-branding{
    background: linear-gradient(to right,
    #ff0000, 
    #ffa500, 
    #ffff00, 
    #008000,
    #5c5cf3, 
    #8047aa, 
    #ee82ee,
    #30CFD0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    text-transform: uppercase;
}

/* .NavBar-slider-console{
    display: inline-block;
}

.NavBar-slider-readout{
    display: inline-block;
}

.NavBar-slider-box{
    width:340px;
    min-width: 200px;
    margin:0 15px;
    display: inline-block;
} */


/* .rc-slider-track{
    background-color: transparent;
} */

/* .rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover{
    background-color: #000000 !important;
    border: 2px solid #daa520 !important;
    outline: none !important;
    outline: none;
    width: 12px !important;
    height: 26px !important;
    border-radius: 0;
    box-shadow: none !important;
    position:relative;
    bottom: 4px;
} */

/* .rc-slider-rail{
    background-color: transparent;
    border: 1px solid #daa520;
    height: 8px;
} */

/* .NavBar-select{
    padding: 0 10px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    flex-grow: 1;
} */

.MuiInputBase-root{
    color:#ffffff;
    /* background-color: #ffa500; */
    /* width:250px !important; */
    /* border-radius: 3px !important; */
}

.MuiInputBase-root,
.MuiList-root{
    background-color: #2f2f2f !important;
    border: none !important;;
}

.MuiInputBase-root,
.MuiSelect-icon{
    padding-left: 10px !important;
    color:#ffa500 !important;
}

.MuiMenuItem-root{
    color:#ffa500 !important;
}